<!DOCTYPE html>
<html>
    <head>
        <title>HELP</title>
        <link rel="icon" href="/img/weather.PNG">
        <link rel="stylesheet" href="css/styles.css"/>
        <script src="js/client.js"></script>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
        
        <P>{{helptext}}</P>
        </div>
        {{>footer}}
    </body> 
</html>